venv/
.venv/
env/
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
build/
dist/
*.egg-info/
.DS_Store
.vscode/
.idea/
# binárisok/adatok NE
*.sqlite
*.db
*.csv
*.parquet
*.xlsx
*.zip
*.tar
*.tar.gz
*.png
*.jpg
*.jpeg
*.pdf
export/
logs/
data/
